# Commonly used built-in functions in Python

print()
len()
input()
type()
int()
float()
str()
range()
sum()
max()
min()
abs() #absolute_value
round()
sorted()
any()
all()
join()
upper()
lower()
list()
tuple()
dict()
set()
enumerate()
zip()
reversed()
slice()
chr()
ord()

In [1]:
#1. print(): Outputs text or variables to the| console.

In [2]:
print("Data Science!")

Data Science!

In [3]:
#2. len(): Returns the length of an object.

In [4]:
my_list = [1, 2, 3, 4, 5]
length = len(my_list)
length

5

In [5]:
# 3. input(): Reads input from the user.

In [6]:
user_input = input("Enter something: ")

Enter something:  Asif Antaj Robin

In [7]:
user_input

'Asif Antaj Robin'

In [8]:
# 4. type(): Returns the type of an object.

In [9]:
Name = "Asif Antaj Robin"
type(Name)

str

In [10]:
# 5. int(), float(), str(): Converts values to integers, floats, or strings.

In [11]:
x = 50.5
y = 10
z = 100

In [12]:
x = int(x)
x

50

In [13]:
y = float(y)
y

10.0

In [14]:
z = str(z)
z

'100'

In [15]:
# 6. range(): Generates a sequence of numbers.

In [17]:
numbers = range(10)
numbers = list(numbers)
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
for i in numbers:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# 7. sum(): Returns the sum of all elements in an iterable.

In [19]:
my_list = [1, 2, 3, 4, 5]
total = sum(my_list)
total

15

In [ ]:
# 8. max(), min(): Returns the maximum or minimum value from an iterable.

In [20]:
numbers = [3, 1, 4, 1, 5, 9, 2]
max_val = max(numbers)
min_val = min(numbers)

In [21]:
print(max_val)
print(min_val)

9
1

In [ ]:
# 9. abs(): Returns the absolute value of a number.

In [22]:
absolute_value = abs(-10)
absolute_value

10

In [23]:
abs(-50)

50

In [ ]:
# 10. round(): Rounds a floating-point number to a specified number of decimals.

In [24]:
rounded_num = round(3.14159, 2)  # rounds to 2 decimal places
rounded_num

3.14

In [ ]:
# 11. sorted(): Returns a new sorted list from the elements of an iterable.

In [25]:
numbers = [3, 1, 4, 1, 5, 9, 2]
sorted_numbers = sorted(numbers)
sorted_numbers

[1, 1, 2, 3, 4, 5, 9]

In [ ]:
# 12. any(), all(): Returns True if any or all elements in an iterable are true.

In [26]:
bool_list = [True, False, True, True, False]
any_true = any(bool_list)
all_true = all(bool_list)

In [27]:
print(any_true)
print(all_true)

True
False

In [29]:
list1 = [10,20,30,40,50,10,20,30,40,50]
list2 = [5,5,5,5,5]
any_true = any(list1)
all_true = all(list2)

In [31]:
print(any_true)
print(all_true)

True
True

In [ ]:
# 13. str.join(): Joins elements of an iterable with a string as a separator.

In [33]:
my_list = ["apple", "banana", "orange"]
joined_str = " ".join(my_list)
joined_str

'apple banana orange'

In [ ]:
# 14. str.lower(), str.upper(): Converts a string to lowercase or uppercase.

In [34]:
my_string = "Hello, World!"
lower_case = my_string.lower()
upper_case = my_string.upper()

In [35]:
print(lower_case)
print(upper_case)

hello, world!
HELLO, WORLD!

In [ ]:
# 15. list(), tuple(): Converts an iterable to a list or tuple.

In [36]:
my_tuple = (1, 2, 3)
tuple_to_list = list(my_tuple)
tuple_to_list

[1, 2, 3]

In [ ]:
# 16. dict(): Creates a dictionary.

In [37]:
my_dict = dict(name="Robin", age=18)
my_dict

{'name': 'Robin', 'age': 18}

In [38]:
my_dict.keys()

dict_keys(['name', 'age'])

In [39]:
my_dict.values()

dict_values(['Robin', 18])

In [40]:
# 17. set(): Creates a set.

In [41]:
my_set = set([1, 2, 3, 3, 4])
my_set

{1, 2, 3, 4}

In [ ]:
# 18. enumerate(): Returns tuples with the index and corresponding element.

In [42]:
my_list = ["a", "b", "c"]
for value in enumerate(my_list):
    print(value)

(0, 'a')
(1, 'b')
(2, 'c')

In [43]:
my_list = ["a", "b", "c"]
for index, value in enumerate(my_list):
    print(index, value)

0 a
1 b
2 c

In [ ]:
# 19. zip(): Combines two or more iterables element-wise.

In [44]:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 22]
zipped_data = zip(names, ages)

In [45]:
type(zipped_data)

zip

In [ ]:
# 21. reversed(): Returns a reverse iterator of a sequence.

In [46]:
my_list = [1, 2, 3]
reversed_list = list(reversed(my_list))
reversed_list

[3, 2, 1]

In [ ]:
# 22. sum() (with start argument): Returns the sum of an iterable with an optional starting value.

In [48]:
numbers = [1, 2, 3]
total = sum(numbers, 100)  # sum starting from 10
total

106

In [ ]:
# 23. abs() (for complex numbers): Returns the magnitude of a complex number.

In [49]:
complex_num = 3 + 4j
magnitude = abs(complex_num)
magnitude

5.0

In [ ]:
# 24. slice(): Creates a slice object that can be used to slice sequences like lists and strings.

In [50]:
my_list = [1, 2, 3, 4, 5]
my_slice = slice(1, 4)
sliced_list = my_list[my_slice]
sliced_list

[2, 3, 4]

In [ ]:
# 25. chr(), ord() (extended usage): Handling Unicode characters and code points.

asicc code

In [52]:
euro_symbol = chr(8364)  # returns '€'
code_point = ord('€')  # returns 8364

In [53]:
print(euro_symbol)
print(code_point)

€
8364

In [54]:
char = chr(65)
print(char)  # Output: 'A'

A

In [55]:
code_point = ord('A')
print(code_point)  # Output: 65

65