# All About Data Types in Python

1. Numeric Data
2. Boolean Data
3. Sequence Data
4. set Data
5. mapping Data
6. Data Frame
7. memory view

# Numeric Data

1. Integers
2. Float
3. Complex

In [1]:
x = 10 #int
y = 10.5 #float
z = 10+5j #10 is real number and 5j is imaginary

In [2]:
type(z)

complex

In [3]:
isinstance(z,complex)

True

In [4]:
isinstance(10.5,float)

True

In [5]:
n = float(x) #int to float
n

10.0

In [6]:
n = int(n) #float to int
type(n)

int

In [7]:
n = complex(n) #int to complex
n

(10+0j)

In [8]:
n = int(z)
n

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

# Boolean Data

1. True
2. Flase

In [9]:
x = True
y = False
x

True

# Sequence Data

1. List
2. Tuple
3. Range
4. Array
5. String

In [10]:
#List []
lst = [1,2,3,4,True,[1,2],'data',(1,2,3,8)]
lst

[1, 2, 3, 4, True, [1, 2], 'data', (1, 2, 3, 8)]

In [11]:
lst[0]

1

In [12]:
lst[-1]

(1, 2, 3, 8)

In [13]:
lst[-1][2]

3

In [14]:
type(lst)

list

In [15]:
isinstance(lst,list)

True

In [16]:
#Tupe ()
tuple = (1,5,8,9,'Ai')
type(tuple)

tuple

In [17]:
tuple[2]

8

In [18]:
tuple[0:4] # colon means to ; 0 to 4-1

(1, 5, 8, 9)

In [19]:
#Range()
rng = range(10) #1st case

for i in rng:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
rng = range(5, 20) #2nd case

for i in rng:
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [21]:
rng = range(5,20,3) #3rd case
for i in rng:
    print(i)

5
8
11
14
17

In [22]:
rng = range(20,5,-3) #4th case
for i in rng:
    print(i)

20
17
14
11
8

In [23]:
#array
import array as ar

ary = ar.array('i',[1,2,3,4])
ary

array('i', [1, 2, 3, 4])

In [24]:
type(ary)

array.array

In [25]:
ary = ar.array('f',[1,2,3,4, 5.5])
ary

array('f', [1.0, 2.0, 3.0, 4.0, 5.5])

In [26]:
#string
Data = "Python Data Science and Machine Learning"
type(Data)

str

In [27]:
Data = '''
I love
Data Science
and
Machine Learning
'''
type(Data)

str

In [28]:
#Set
set = {1,2,3,5}
type(set)

set

In [29]:
#Dictionary

dic={
    'varsity': 'Cumilla polytechnic institute',
    'Dept': 'Data Science'
}

type(dic)

dict

In [30]:
dic

{'varsity': 'Cumilla polytechnic institute', 'Dept': 'Data Science'}

In [31]:
dic.keys()

dict_keys(['varsity', 'Dept'])

In [32]:
dic.values()

dict_values(['Cumilla polytechnic institute', 'Data Science'])

In [33]:
#Data Frame (Pandas)

import pandas as pd

df = pd.read_csv(r'Stock_Market_Data.csv', index_col = 0)
df

                  Name    Open    High     Low   Close      Volume
Date
02-01-2022     01.Bank   22.83   23.20   22.59   22.93  1842350.41
03-01-2022     01.Bank   23.03   23.29   22.74   22.90  1664989.63
04-01-2022     01.Bank   22.85   23.13   22.64   22.84  1354510.97
05-01-2022     01.Bank   22.91   23.20   22.70   22.98  1564334.81
06-01-2022     01.Bank   23.12   23.65   23.00   23.37  2586344.19
...                ...     ...     ...     ...     ...         ...
26-06-2022  ZEALBANGLA  169.00  174.90  169.00  170.30    10480.00
27-06-2022  ZEALBANGLA  174.10  176.00  166.90  167.50    13817.00
28-06-2022  ZEALBANGLA  170.00  170.90  167.00  168.10     5214.00
29-06-2022  ZEALBANGLA  167.10  169.00  164.90  165.10     6678.00
30-06-2022  ZEALBANGLA  165.10  174.00  164.00  172.20     5883.00

[49158 rows x 6 columns]

In [34]:
df.head(10)

               Name   Open   High    Low  Close      Volume
Date
02-01-2022  01.Bank  22.83  23.20  22.59  22.93  1842350.41
03-01-2022  01.Bank  23.03  23.29  22.74  22.90  1664989.63
04-01-2022  01.Bank  22.85  23.13  22.64  22.84  1354510.97
05-01-2022  01.Bank  22.91  23.20  22.70  22.98  1564334.81
06-01-2022  01.Bank  23.12  23.65  23.00  23.37  2586344.19
09-01-2022  01.Bank  23.47  23.62  22.98  23.14  1813583.91
10-01-2022  01.Bank  23.16  23.43  22.85  23.10  1656683.94
11-01-2022  01.Bank  23.22  23.61  22.98  23.25  2224838.94
12-01-2022  01.Bank  23.39  23.55  22.98  23.17  1756813.34
13-01-2022  01.Bank  23.20  23.41  22.89  23.05  1107172.59

In [35]:
df.shape

(49158, 6)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49158 entries, 02-01-2022 to 30-06-2022
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    49158 non-null  object
 1   Open    49158 non-null  float64
 2   High    49158 non-null  float64
 3   Low     49158 non-null  float64
 4   Close   49158 non-null  float64
 5   Volume  49158 non-null  float64
dtypes: float64(5), object(1)
memory usage: 2.6+ MB

In [37]:
#Binary Types

byte_arr = bytearray('ai Science','utf-8')
type(byte_arr)

bytearray

In [38]:
byte_arr

bytearray(b'ai Science')

In [39]:
memoryview(byte_arr)

In [40]:
memoryview(byte_arr)[0]

97

In [41]:
mv = memoryview(byte_arr)
mv[0] = 65

In [42]:
mv = memoryview(byte_arr)
mv[1] = 73

In [43]:
byte_arr

bytearray(b'AI Science')

Asif Antaj Robin
+88 01312531960
asifantajrobin@gmail.com
https://www.facebook.com/profile.php?id=100082193912347