# Python Break Statement

In [17]:
# for loop

In [1]:
for i in range(1,100):
    if i == 11:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
for i in range(1,100):
    if i == 11:
        break
    print("3*", i, " = ", i*3)

3* 1  =  3
3* 2  =  6
3* 3  =  9
3* 4  =  12
3* 5  =  15
3* 6  =  18
3* 7  =  21
3* 8  =  24
3* 9  =  27
3* 10  =  30

In [7]:
Data = 'I love Data Science and machine learning'

for i in Data.split():
    if i == 'and':
        break
    print(i)

I
love
Data
Science

In [16]:
# whule loop

In [10]:
i = 1
while i<100:
    if i == 11:
        break
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [14]:
Data = 'I love Data Science and machine learning'

words = Data.split()
i = 0

while i < len(words):
    if words[i] == 'and':
        break
    print(words[i])
    i += 1

I
love
Data
Science

In [15]:
i = 0
while i<len(range(11)):
    if i == 10:
        break
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

# Python Continue Statement

In [18]:
Data = 'I love Data Science and machine learning'
#Data = Data.split()
for i in Data.split():
    if i == 'and':
        continue
    print(i)

I
love
Data
Science
machine
learning

In [19]:
x = range(1,16)
[i for i in x if i%2==0]

[2, 4, 6, 8, 10, 12, 14]

In [20]:
for i in range(1,16):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9
11
13
15

In [21]:
for i in range(1,16):
    if i%2==1:
        continue
    print(i)

2
4
6
8
10
12
14

# python Func() / Return statement

In [1]:
def dept():
    print('Data Science!')
dept()

Data Science!

def dept_with_names(name):
    print(f'My Subject is a {name}')
dept_with_names('Python Data Science and Machine learning')

In [3]:
def Name():
    print('Asif Antaj Robin')
    return 1
Name()

Asif Antaj Robin

1

# More about return

In [9]:
def user_input():
    x1 = int(input())
    x2 = int(input())
    y1 = int(input())
    y2 = int(input())
    
    return x1, x2
user_input()

 10
 100
 50
 500

(10, 100)

In [10]:
def user_input():
    x1 = int(input())
    x2 = int(input())
    y1 = int(input())
    y2 = int(input())
    
    return x1, y1, x2, y2
user_input()

 10
 100
 100
 1000

(10, 100, 100, 1000)

In [11]:
def user_input():
    x1 = int(input())
    x2 = int(input())
    y1 = int(input())
    y2 = int(input())
    
    return (x1, y1), (x2, y2)
user_input()

 10
 50
 100
 150

((10, 100), (50, 150))

In [14]:
y1, y2 = user_input()

 10
 50
 100
 150

In [15]:
y1, y2

((10, 100), (50, 150))

In [19]:
def sq_and_cube(x):
    sq = x**2
    cube = x**3
    return sq, cube

sq_and_cube(3)

(9, 27)

In [27]:
def mulp():
    x = int(input('Enter x value = '))
    y = int(input('Enter y value = '))
    result = (x*y)
    print("Result is :", result)
mulp()

Enter x value =  10
Enter y value =  50

Result is : 500

In [28]:
def mulp1():
    var = mulp()
    a = int(input("Enter a value : "))
    total = var*a
    print("Final Result :", total)
mulp()

Enter x value =  10
Enter y value =  50

Result is : 500

# separately

In [30]:
def mulp1():
    x = int(input('x = '))
    y = int(input('y = '))
    result = x*y
    print('result ', result)
    return result
mulp1()

x =  10
y =  50

result  500

500

In [35]:
def mulp2():
    var = mulp1()
    a = int(input('a = '))
    total = var*a
    print('final result = ', total)
mulp2()

x =  10
y =  50

result  500

a =  100

final result =  50000